{
  "plugins": [
    ["@babel/plugin-proposal-decorators", {legacy:true}],
    "babel-plugin-transform-class-properties",
    "babel-plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": [
    "@babel/preset-react"
  ]
}
