.keyboard {
  max-width: 450px;
  .letter {
    cursor: pointer;
  }
}

.hangmanLetters {
  text-align: center;
}

.hangman-container {

  svg {
    margin: 0 auto;
    border: 1px solid black;
  }

  line {
    stroke: black;
    stroke-width: 4px;
  }

  #door1 {
    transform-origin: 0 100%;
  }

  #door2 {
    transform-origin: 100% 100%;
  }

  .hide {
    visibility: hidden;
  }
}

